{
  "presets": [
    [
      "@babel/env",
      {
        "targets": { "node": "6", "browsers": [">0.25%"] }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
