.ReactPiano__Keyboard {
  position: relative;
  /* Used to lay out white keys with consistent margin rendering */
  display: flex;
}

.ReactPiano__Key {
  display: flex;
  user-select: none;
}

.ReactPiano__Key--black {
  background: #555;
  border: 1px solid #fff;
  border-top: 1px solid transparent;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  width: 66%;
  height: 66%;
  position: absolute;
  top: 0;
  z-index: 1;
}

.ReactPiano__Key--white {
  background: #f6f5f3;
  border: 1px solid #888;
  border-radius: 0 0 6px 6px;
  cursor: pointer;
  z-index: 0;
  /* Uses flexbox instead of absolute positioning so there's no margin rendering inconsistency */
  flex: 1;
  margin-right: 1px;
}

.ReactPiano__Key--white:last-child {
  margin-right: 0;
}

.ReactPiano__Key--black.ReactPiano__Key--active {
  border: 1px solid #fff;
  border-top: 1px solid #3ac8da;
  height: 65%;
}

.ReactPiano__Key--white.ReactPiano__Key--active {
  border: 1px solid #3ac8da;
  height: 98%;
}

/* Declare after --black and --white to override default backgrounds */
.ReactPiano__Key--active {
  background: #3ac8da;
}

.ReactPiano__Key.ReactPiano__Key--disabled {
  cursor: progress;
}

.ReactPiano__Key--black.ReactPiano__Key--disabled {
  background: #ddd;
  border: 1px solid #999;
}

.ReactPiano__Key--white.ReactPiano__Key--disabled {
  background: #eee;
  border: 1px solid #aaa;
}

.ReactPiano__NoteLabelContainer {
  flex: 1;
  align-self: flex-end;
}

.ReactPiano__NoteLabel {
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
}

.ReactPiano__NoteLabel--black {
  color: #f8e8d5;
  margin-bottom: 3px;
}

.ReactPiano__NoteLabel--white {
  color: #888;
  margin-bottom: 3px;
}

.ReactPiano__NoteLabel--white.ReactPiano__NoteLabel--active {
  color: #f8e8d5;
}
